#!/usr/bin/env zsh

################################################################################
# This file is sourced at the end of the .zshrc file and loads aliases & functions
#
# file location: ${HOME}/.aliases
# load order: .zshenv [.shellrc], .zshrc [.shellrc, .aliases [.shellrc]], .zlogin
################################################################################

# execute 'FIRST_INSTALL=true zsh' to debug the load order of the custom zsh configuration files
[[ -n "${FIRST_INSTALL+1}" ]] && echo "loading ${0}"

# DUPLICATE! Copied over since we get an error if the .shellrc was not loaded
type command_exists &> /dev/null 2>&1 || source "${HOME}/.shellrc"

# add flags to existing aliases
alias less="${aliases[less]:-less} -RF"
alias cp="${aliases[cp]:-cp} -p"
alias grep="${aliases[grep]:-grep} -Hn --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.zsh_sessions,.IdentityService,.Trash} --exclude=\".*history\" --exclude=\".zcompdump*\""
alias fgrep="${aliases[fgrep]:-fgrep} -Hn --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.zsh_sessions,.IdentityService,.Trash} --exclude=\".*history\" --exclude=\".zcompdump*\""
alias egrep="${aliases[egrep]:-egrep} -Hn --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.zsh_sessions,.IdentityService,.Trash} --exclude=\".*history\" --exclude=\".zcompdump*\""

# eza already defines 'll' - so skip if that's present
! command_exists eza && alias ll='ls -la'
command_exists tree && alias tree="${aliases[tree]:-tree} -Ch"
command_exists vim && alias vi='vim'
command_exists prettyping && alias ping='prettyping --nolegend'
command_exists bat && alias cat='bat'
command_exists btop && alias top='btop'
command_exists ncdu && alias du='ncdu --color dark -r -x --exclude .git --exclude .svn --exclude node_modules --exclude .npm --exclude .nuget --exclude Library'

delete_zsh_compilations() {
  local prune_paths=(-path '*/.git/*' -o -path '*/node_modules/*' -o -path '*/.mypy_cache/*' -o -path '*/__pycache__/*')
  # Find and remove .zwc files, pruning common large/irrelevant directories
  find "${HOME}" \( "${prune_paths[@]}" \) -prune -o -maxdepth 6 -name '*.zwc*' -type f -print -delete || warn "find command failed in ${HOME}"
  find "${HOMEBREW_PREFIX}" \( "${prune_paths[@]}" \) -prune -o -maxdepth 6 -name '*.zwc*' -type f -print -delete || warn "find command failed in ${HOMEBREW_PREFIX}"
}

install_mise_versions() {
  ! command_exists mise && warn "Couldn't find 'mise' in the PATH; Skipping loading any mise configs" && return

  local config_files=('.java-version' '.ruby-version' '.python-version' '.nvmrc' '.tool-versions')
  for f in ${config_files}; do
    find "${HOME}" -name "${f}" -maxdepth 1 -exec echo "===> Installing for {}" \; -execdir mise install \;
  done
  unset config_files

  is_directory "${PROJECTS_BASE_DIR}" && find "${PROJECTS_BASE_DIR}" -name '.git' -type d -maxdepth 5 -exec echo "===> Installing for {}" \; -execdir mise install \;
}

# runs 'direnv allow' on all code repositories that are checked out
allow_all_direnv_configs() {
  ! command_exists direnv && warn "Couldn't find 'direnv' in the PATH; Skipping allowing all direnv configs" && return

  local prune_paths=(-path '*/.git/*' -o -path '*/node_modules/*' -o -path '*/.mypy_cache/*' -o -path '*/__pycache__/*')
  find "${HOME}" -maxdepth 1 -name '.envrc' -print -execdir direnv allow \;
  is_directory "${PERSONAL_PROFILES_DIR}" && find "${PERSONAL_PROFILES_DIR}" -maxdepth 1 -name '.envrc' -print -execdir direnv allow \;
  is_directory "${PROJECTS_BASE_DIR}" && find "${PROJECTS_BASE_DIR}" \( "${prune_paths[@]}" \) -prune -o -maxdepth 5 -name '.envrc' -print -execdir direnv allow \;
}

if is_macos; then
  if command_exists brew; then
    alias bcg='brew outdated --greedy'
    alias bcug='brew upgrade --greedy'
    alias bupc='brew bundle check || brew bundle --all --cleanup || true; brew bundle cleanup -f || true; brew cleanup --prune=all || true; brew autoremove || true; brew upgrade || true'
  fi
fi

alias findbrokenlinks='find . -xtype l -print' # Find links whose targets do not exist
alias clearlogs='rm -rfv */log/*.log'
alias clearcoverage='rm -rfv */coverage */coverage.data'
alias killds="sudo find . -type f -name .DS_Store -print -delete"
alias killloc="sudo find . -type f -name .localized -print -delete"

_free_wifi() {
  local interface="${1}"
  (ifconfig "${interface}" | \grep ether) && \
  (openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//' | xargs sudo ifconfig "${interface}" ether) && \
  (ifconfig "${interface}" | \grep ether)
}
if is_linux; then alias free-wifi='_free_wifi eth0'
elif is_macos; then alias free-wifi='_free_wifi en0'
  alias flush-dns="sudo killall -HUP mDNSResponder;sudo killall mDNSResponderHelper;sudo dscacheutil -flushcache;say MacOS DNS cache has been cleared"
fi

if is_macos; then
  # MacOS: Remove apps from quarantine
  alias unquarantine='sudo xattr -rd com.apple.quarantine'

  # MacOS: Clean up LaunchServices to remove duplicates in the “Open With” menu
  alias lscleanup='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'

  # Show/hide hidden files in Finder
  alias show_hidden_files='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
  alias hide_hidden_files='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

  # Hide/show all desktop icons (useful when presenting)
  alias hide_desktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
  alias show_desktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'
fi

# Added to view the shell startup time (modified from https://blog.jonlu.ca/posts/speeding-up-zsh)
time_shell_startup() {
  local shell="${1-${SHELL}}"
  for i in $(seq 1 10); do /usr/bin/time "${shell}" -i -c exit; done
}

# npm
command_exists npm && alias npm_cleanup='npm cache clear --force'

if command_exists docker; then
  # docker (TODO: Not sure why this is not done automatically by rancher when it starts up)
  # Note: can't use 'is_file' since testing for sockets is slightly different
  alias start_docker="test -S '${HOME}/.rd/docker.sock' && sudo ln -sf '${HOME}/.rd/docker.sock' /var/run/docker.sock"
  alias stop_docker="test -S /var/run/docker.sock && sudo rm -rf /var/run/docker.sock"
  alias docker_cleanup='docker system prune -a --volumes -f'
  alias docker_list='docker ps -a && docker images'

  show_docker_context_contents() {
    # Based on BMitch's answer from: https://stackoverflow.com/questions/38946683/how-to-test-dockerignore-file
    # Note: this will create and delete temporary file called 'Dockerfile.build-context'
    # Usage:
    # 1. Run this function in the project folder
    # 2. You should see list of files in build context
    # 3. If unwanted files are present, adjust the '.dockerignore' file and go back to step 1

    cat <<EOF > Dockerfile.build-context
  FROM busybox
  COPY . /build-context
  WORKDIR /build-context
  CMD ["find", "."]
EOF

    docker build -f Dockerfile.build-context -t build-context .
    docker run --rm build-context

    rm Dockerfile.build-context
  }
fi

# tmux
if command_exists tmux; then
  alias tmuxn='tmux new-session -A -s'  # start a new tmux session and name it
  alias tmuxa='tmux attach -t'          # attach to a named tmux session
fi

# convert from pdf to png without losing quality
pdf_to_png() {
  ! command_exists magick && warn "Install imagemagick first!" && return

  local pdf="${1}"
  local png="${pdf%.*}.png"

  magick -density 800 "${pdf}" -quality 100 "${png}"
}

if is_zsh; then
  # associate file extensions with applications for the 'open' command
  alias -s txt="${EDITOR}"
  alias -s log="${EDITOR}"
fi

# opens the relevant files and folders (used for laptop provisioning) in a single VSCode session
command_exists "${EDITOR%% *}" && alias edit-gist='"${EDITOR%% *}" "${DOTFILES_DIR}" "${PERSONAL_BIN_DIR}" "${PERSONAL_CONFIGS_DIR}" "${HOME}"/.gitconfig-* "${HOME}/.gitignore" "${HOME}/.ssh" "${HOME}/.tool-versions" "${PERSONAL_PROFILES_DIR}/.gitignore"'

# resurrects the cron entries based on the '${PERSONAL_CONFIGS_DIR}/crontab.txt' file
recron() {
  # shellcheck disable=SC2005
  section_header "$(yellow 'Old cron listing')"
  crontab -l

  local cron_file="${PERSONAL_CONFIGS_DIR}/crontab.txt"
  ! is_file "${cron_file}" && warn "No '$(yellow "${cron_file}")' found; returning without any processing" && return

  crontab -r &> /dev/null 2>&1
  crontab "${cron_file}"

  # shellcheck disable=SC2005
  section_header "$(yellow 'New cron listing')"
  crontab -l
}

# runs git gc on the keybase remote repos (not sure if this actually compresses the remote repo or not)
command_exists keybase && alias kbgc="keybase git gc --force ${KEYBASE_HOME_REPO_NAME}; keybase git gc --force ${KEYBASE_PROFILES_REPO_NAME}"

if is_macos && command_exists brew; then
  # brew cask contribution
  check_cask() {
    # shasum -a 256 <fileName>
    # cd $(brew --repository homebrew/cask-versions) &&
    brew audit --online --cask "${1}" && brew style --fix --cask "${1}"
    # cd -
    # brew fetch --cask "${1}"
  }

  # brew contribution
  check_formula() {
    brew install --build-from-source "${1}"
    brew test "${1}"
    brew audit --strict "${1}"
  }
fi

if is_macos; then
  # Finds and appends the preferences associated with the partial string passed in as an argument.
  # Also, sorts (and removes duplicates) from the config file used to capture preferences
  find_and_append_prefs() {
    local file_name="${DOTFILES_DIR}/scripts/data/capture-prefs-domains.txt"
    defaults find "${1}" | \grep "keys in domain" | cut -d"'" -f2 >> "${file_name}"
    sort -u -o "${file_name}" "${file_name}"
    unset file_name
  }
fi

################################################################################

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Core aliases
# shellcheck disable=SC2154
alias dotfiles='cd $DOTFILES_DIR'
alias library='cd $HOME/Library'
alias projects='cd $HOME/Code'
alias sites='cd $HOME/Herd'

# Shortcuts for various tasks
alias copyssh='pbcopy < $HOME/.ssh/id_rsa.pub'
alias copy_ssh='pbcopy < $HOME/.ssh/id_rsa.pub'
alias sshcopy='pbcopy < $HOME/.ssh/id_rsa.pub'

alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias flushdns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias flush_dns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

alias timestamp="date +%s"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Files
alias Downloads='cd $HOME/Downloads'
alias Desktop='cd $HOME/Desktop'
alias Projects='cd $HOME/Projects'

# List all files colorized in long format
alias l='ls -lF ${colorflag}'

# Always use color output for `ls`
alias ls='command ls ${colorflag}'

alias ll='/opt/homebrew/opt/coreutils/libexec/gnubin/ls -AhlFo --color --group-directories-first'

# List all files colorized in long format, excluding . and ..
alias la='ls -lAF ${colorflag}'

# List only directories
alias lsd='ls -lF ${colorflag} | grep --color=never '^d''

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# sudo mv <file> /usr/local/bin/<new-file> && sudo chmod +x /usr/local/bin/<new-file>
function mvlocalbin() {
  sudo "mv $1 /usr/local/bin/$2 && sudo chmod +x /usr/local/bin/$2"
}

# sudo mv <file> /usr/bin/<new-file> && sudo chmod +x /usr/bin/<new-file>
function mvbin() {
  sudo "mv $1 /usr/bin/$2 && sudo chmod +x /usr/bin/$2"
}

# Unix Commands
alias pls="sudo"
alias please="sudo"
alias _="sudo"

# Laravel (Herd)
alias hart="herd php artisan"
alias hfresh="herd php artisan migrate:fresh --seed"
alias htinker="herd php artisan tinker"
alias hseed="herd php artisan db:seed"
alias hserve="herd php artisan serve"

# Laravel (Local)
alias v="vapor"
alias rr="vendor/bin/rr"

alias art="php artisan"
alias pa="php artisan"

alias tinker="php artisan tinker"
alias arttinker="php artisan tinker"

alias artfresh="php artisan migrate:fresh --seed"
alias artseed="php artisan db:seed"
alias artserve="php artisan serve"

alias sail="vendor/bin/sail"
alias sartisan="vendor/bin/sail artisan"

alias pu="vendor/bin/phpunit"
alias phpu="vendor/bin/phpunit"
alias phpuf="vendor/bin/phpunit --stop-on-failure --stop-on-error"
alias phpunit="vendor/bin/phpunit"
alias pest="vendor/bin/pest"
alias pint="vendor/bin/pint"
alias tb="vendor/bin/testbench"

# Composer
alias ci="composer install"
alias cu="composer update"
alias co="composer show -lo"
alias c="composer"
alias cda="composer dump-autoload"

# PHP
alias p="php"
alias cfresh="rm -rf vendor/ composer.lock && composer i"
alias composer="herd composer"
alias php="herd php"

# Node.js
alias n="node"
alias nvm="fnm"

# pnpm
alias pni="pnpm install"
alias pni_frozen="pnpm install --frozen-lockfile"
alias pnu="pnpm update"

# bun
alias buni="bun install"

# Docker
alias docker-composer="docker-compose"
alias dc="docker-compose"
alias dcu="docker-compose up -d"
alias dcd="docker-compose down"
alias dcps="docker-compose ps"

alias d="docker"
alias di="docker images"
alias dps="docker ps"
alias db="docker build"

# Kubernetes
alias k="kubectl"
alias kg="kubectl get"
alias kd="kubectl describe"

alias kctx="kubectx"
alias kns="kubens"
alias kbb="kubectl run -i --tty busybox --image=busybox --restart=Never -- /bin/sh"
alias kdutil="kubectl run -i --tty dnsutils --image=registry.k8s.io/e2e-test-images/jessie-dnsutils:1.3 --restart=Never -- bash"

function kutil() {
  kubectl get nodes --no-headers | awk '{print $1}' | xargs -I {} sh -c "echo {} ; kubectl describe node {} | grep Allocated -A 5 | grep -ve Event -ve
  | grep -ve Allocated -ve
  | grep -ve percent -ve
  | grep -ve -- ; echo "
}

# kubectl exec "pod" "container"
function kbashpod() {
  kubectl exec -it "$1" "$2" -- /bin/bash
}

# kubectl exec "pod" "container" -- /bin/ash
function kashpod() {
  kubectl exec -it "$1" "$2" -- /bin/ash
}

# kubectl exec "pod" "container" -- /bin/sh
function kshpod() {
  kubectl exec -it "$1" "$2" -- /bin/sh
}

# kubectl exec "namespace" "pod" "container" -- /bin/bash
function kbashpodn() {
  kubectl exec -it -n "$1" "$2" "$3" -- /bin/bash
}

# kubectl exec "namespace" "pod" "container" -- /bin/ash
function kashpodn() {
  kubectl exec -it -n "$1" "$2" "$3" -- /bin/ash
}

# kubectl exec "namespace" "pod" "container" -- /bin/sh
function kshpodn() {
  kubectl exec -it -n "$1" "$2" "$3" -- /bin/sh
}

# Git
alias g="git"
alias gc="git clone"
alias gp="git push"
alias gs="git status"
alias gresolve="git add . && git commit --no-edit"
alias gwip="commit wip"

# Terraform
alias tf="terraform"
alias tp="terraform plan"
alias tpaa="terraform plan -auto-approve"
alias ta="terraform apply"
alias taaa="terraform apply -auto-approve"

alias tfp="terraform plan"
alias tfpaa="terraform plan -auto-approve"
alias tfa="terraform apply"
alias tfaaa="terraform apply -auto-approve"

alias tflint="terraform fmt"
alias tfl="terraform fmt"
alias tfc="terraform console"

# AWS
alias leap="leapp"
alias aws_whoami="aws sts get-caller-identity"
alias aws_sessions="leapp session list"
alias aws_select_session="leapp session start"
alias aws_stop_session="leapp session stop"

# Other Tools
alias passxc="keepassxc-cli"
alias passx="keepassxc-cli"
alias obsidian="obsidian-cli"
alias obsctl="obsidian-cli"

# XCode
alias simctl="xcrun simctl"

# Cool Stuff™

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# KEKW and LOLs
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"
alias idk="echo '¯\_(ツ)_/¯' | pbcopy"
alias thefuck="echo 'ಠ_ಠ' | pbcopy"
