[application]
name = Infra

[configuration_files]
# Serverless
.serverless
.serverlessrc

# Scaleway
.config/scw/config.yaml

# Helm
.config/helm/repositories.yaml
.config/helm/repositories.lock

# ArgoCD
.config/argocd/config

# hcloud
.config/hcloud/cli.toml

# Posthog
.posthog

# Atmos
.atmos

# Speakeasy
.speakeasy/config.yaml

# Kubernetes
.kube/kubectx
.kube/kubens
.kube/rancher-k3s.yaml
.skaffold/config

# Docker
.orbstack/config
.orbstack/vmstate.json
.orbstack/vmconfig.json
.orbstack/k8s/config.yml
.orbstack/ssh

# Pulumi
.pulumi/credentials.json

# Railway
.railway/config.json
